<% was_validated = recipe_ingredient.errors.any? %>

<% form_html_options = { novalidate: true, class: "mb-3" } %>

<%= form_for(recipe_ingredient, html: form_html_options) do |f| %>
  <div class="form-group">
    <% recipe_id_class = "form-control" %>
    <% recipe_id_was_invalid = recipe_ingredient.errors.include?(:recipe_id) %>

    <% if was_validated %>
      <% if recipe_id_was_invalid %>
        <% recipe_id_class << " is-invalid" %>
      <% else %>
        <% recipe_id_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :recipe_id %>

    <%= f.number_field :recipe_id, class: recipe_id_class, placeholder: "Enter recipe" %>
    <% if recipe_id_was_invalid %>
      <% recipe_ingredient.errors.full_messages_for(:recipe_id).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="form-group">
    <% name_class = "form-control" %>
    <% name_was_invalid = recipe_ingredient.errors.include?(:name) %>

    <% if was_validated %>
      <% if name_was_invalid %>
        <% name_class << " is-invalid" %>
      <% else %>
        <% name_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :name %>

    <%= f.text_field :name, class: name_class, placeholder: "Enter name" %>
    <% if name_was_invalid %>
      <% recipe_ingredient.errors.full_messages_for(:name).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="form-group">
    <% units_class = "form-control" %>
    <% units_was_invalid = recipe_ingredient.errors.include?(:units) %>

    <% if was_validated %>
      <% if units_was_invalid %>
        <% units_class << " is-invalid" %>
      <% else %>
        <% units_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :units %>

    <%= f.text_field :units, class: units_class, placeholder: "Enter units" %>
    <% if units_was_invalid %>
      <% recipe_ingredient.errors.full_messages_for(:units).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="form-group">
    <% quantity_class = "form-control" %>
    <% quantity_was_invalid = recipe_ingredient.errors.include?(:quantity) %>

    <% if was_validated %>
      <% if quantity_was_invalid %>
        <% quantity_class << " is-invalid" %>
      <% else %>
        <% quantity_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :quantity %>

    <%= f.text_field :quantity, class: quantity_class, placeholder: "Enter quantity" %>
    <% if quantity_was_invalid %>
      <% recipe_ingredient.errors.full_messages_for(:quantity).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>

  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
